@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(70, 70, 70);
}

h1{
    margin: 10px auto 0 auto;
    width: 40%;
    font-size: 4.5rem;
    font-family: 'Bungee', cursive;
    color: #66BF93;
    z-index: 2;
    position: relative;
    background-image: none;
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    /* color: #66BFBF; */
    color: #66BF93;
    font-weight: normal;
    margin-bottom: 50px;
    margin-top: 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #119E5D;
}


a{
    color: #119E5D;
}


.bold-text{
    font-weight: bold;
}

.top{
    /* background-color: #E4EFE7; */
    background-image: linear-gradient(#9fe4e4, #bee9e9, #daecec, #fff);
    padding-top: 100px;
    position: relative;
}

.middle{
    margin: 50px 0 50px 0;
}

.bottom{
    height: 130px;
    background-color: #66BF93;
    padding: 30px 0 0 0;
    margin-top: 80px;
    
}

.footer-link{
    margin: 50px 0 50px 0;
}

.top-cloud{
    position: absolute;
    right: 250px;
    top: 50px;
    height: 200px;
    z-index: 1;

}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 200px;
    height: 200px;
}

.myprofpic{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 3px 1px #66BFBF);
    
}

.myprofpic:hover{
    filter: drop-shadow(0px 3px 3px #66BFBF);

}

.attribution{
    font-size: 8.5px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.basketball-img{
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-bottom: 100px;
}

.dottedhr{
    border-style: dotted none none;
    width: 4%;
    border-width: 8px;
    border-color: #eaf6f6;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dottedhr:last-of-type{
    clear: right;
    margin-top: 0;
}

.btn {
    background: #66BF93;
    background-image: -webkit-linear-gradient(top, #66BF93, #68d49e);
    background-image: -moz-linear-gradient(top, #66BF93, #68d49e);
    background-image: -ms-linear-gradient(top, #66BF93, #68d49e);
    background-image: -o-linear-gradient(top, #66BF93, #68d49e);
    background-image: linear-gradient(to bottom, #66BF93, #68d49e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #73d1a2;
    background-image: -webkit-linear-gradient(top, #73d1a2, #6cc799);
    background-image: -moz-linear-gradient(top, #73d1a2, #6cc799);
    background-image: -ms-linear-gradient(top, #73d1a2, #6cc799);
    background-image: -o-linear-gradient(top, #73d1a2, #6cc799);
    background-image: linear-gradient(to bottom, #73d1a2, #6cc799);
    text-decoration: none;
  }

.img-btn{
    height: 40px;
    width: 40px;
    margin: 0 5px 0 5px;
    border-radius: 0.3em;
}

.top-desc{
    width: 30%;
    margin: 0 auto 0 auto;
    line-height: 2;
}

.top-desc:last-of-type{
    width: 40%;
    margin: 50px auto 50px auto;
    line-height: 2;
}

.mountain{
    filter: drop-shadow(0 -6mm 5mm rgb(209, 209, 209));
}

.footer-desc{
    margin-bottom: 0;
    margin-top: 0px;
    color: #eaf6f6;
    font-size: 0.75rem;
}

.footer-desc:last-of-type{
    margin-top: 0;
}

.links{
    margin: 0px 0 30px 0;
}



